.author-data , .scribe-data, #originalWorkRef, 
		.commentator-container, .translator-container ,.existing-frame-container, .subCommentator-container {
		display:none;
	}
	
	ul .dropdown-new-record {
		background:rgb(223, 240, 216);
	}
	
	.validation-warning {
		text-align:center;
	}
	
	*
	{
	   margin:  0;
	   padding: 0;
	}
	
	.btn-file {
	    position: relative;
	    overflow: hidden;
	}
	
	.btn-file > input {
	    position: absolute;
		top: 0px;
		right: 0px;
		margin: 0px;
		font-size: 23px;
		cursor: pointer;
		opacity: 0;
		transform: translate(-300px, 0px) scale(4);
		direction: ltr;
	}  
	
	input[type="file"] {
	    display: block;
	}
	
	.file-info {
		display:none;
		position: relative;
	    overflow: hidden;
	}
	
	.image-link-container:hover, .image-max-close:hover {
		cursor:pointer;
	}
	
	.image-max-container, .loading-container, .image-details {
		display:none;
	}
	
	.image-max-container {
		vertical-align: middle;
		background: #222222;
		height:70%;
		width: 120%;
		margin-left: 10%;
	}
	.frame-nextprev{
		width: 16%;
		color: #FFF;
		font-size: 17px;
		background-color: rgb(34, 34, 34);
	   /*  z-index: 90;
		position: relative; */
		height: 42px;
		opacity: 1;
		border-radius: 5px;
		margin-left: 43%;
		margin-top: 3%;
		cursor: pointer;
	}
	.image-max-container > img {
		margin-left:auto;
		margin-right:auto;
		width:70%;
		display:block;
	}
	
	.image-max-close {
		color:white;
		margin: 1em auto;
		width: 75%;
		text-align:right;
		align:right
	}
	
	.thumbnail {
		border: 1px solid #DDD;
		border-radius: 4px;
		float: left;
	}
	
	.imageContainer {
		display:inline;
	}
	
	.thumbnail-close {
		float: right;
		color: #000;
		text-decoration: none;
		cursor: pointer;
		opacity: 0.5;
	}
	.deleteimg-thumbnail{
	    float: right;
		color: #000;
		text-decoration: none;
		cursor: pointer;
		opacity: 0.5;
	}
	
	#tagDisplay {
		padding: 5px;
		overflow-y: scroll;
	}
	.selectbutton{
	height:30px;
	width:70px;
	border-radius: 6px;
    margin: 2px;
    border-radious: 3px;
	}
	
	
	
	
	
.containerAuth {
    width:100%;
    border:1px solid #d3d3d3;
}

.containerAuth .headerAuth {
    background-color:#d3d3d3;
    padding: 2px;
    cursor: pointer;
    font-weight: bold;
}
.authorheaderspan{
	font-size: 16px; 
	 cursor: pointer;
	font-weight: bold;
}