.pg-normal {
color: #000000;
font-size: 15px;
cursor: pointer;
background: #E5E5E5;
padding: 2px 4px 2px 4px;
}

.pg-selected {
color: #fff;
font-size: 15px;
background: #000000;
padding: 2px 4px 2px 4px;
}
