a {
		text-decoration:none !important;
	}
	.form .container form, .form .container {
	    padding-top:0px;
	}
	
	ul .dropdown-new-record {
		background:rgb(223, 240, 216);
	}
	
	.validation-warning {
		text-align:center;
	}
	
	
	.btn-file {
	    position: relative;
	    overflow: hidden;
	}
	
	.btn-file > input {
	    position: absolute;
		top: 0px;
		right: 0px;
		margin: 0px;
		font-size: 23px;
		cursor: pointer;
		opacity: 0;
		transform: translate(-300px, 0px) scale(4);
		direction: ltr;
	}  
	
	input[type="file"] {
	    display: block;
	}
	
	.file-info {
		display:none;
		position: relative;
	    overflow: hidden;
	}
	
	.image-link-container:hover, .image-max-close:hover {
		cursor:pointer;
	}
	
	.image-max-container {
		vertical-align: middle;
		background: #222222;
		height:100%;
		width:100%;
		
	}
	
	.image-max-container > img {
		margin-left:auto;
		margin-right:auto;
		width:70%;
		display:block;
	}
	
	.image-max-close {
		color:white;
		margin: 1em auto;
		width: 80%;
		text-align:right;
		align:right
	}
	
	.image-link-container {
		padding:1%;
	}
	
	.thumbnail {
		border: 1px solid #DDD;
		border-radius: 4px;
		float: left;
	}
	
	.image-container { 
		/* padding-top: 5px; */
		padding-left: 5px;
		height:10%;
	}
	.tag-container {
	padding-top: 5px;
		padding-left: 5px;
		height:26%;
	}
	
	.tag-field .col-1 {
		width:80%;
		float: left;
		padding-right: 0.6em;
	}
	
	.tag-field .col-2 {
		width:20%;
	}
	
	.tag-data-shell {
		width: 45%;
		color: #8A6D3B;
		background-color: rgb(252, 248, 227);
		border-color: #FAEBCC;
		float: left;
		margin: 0.1em;
		text-align: center;
		word-wrap: break-word;
	}
	
	.thumbnail-close {
		float: right;
		color: #000;
		text-decoration: none;
		cursor: pointer;
		opacity: 0.5;
		margin-top: -0.3em;
		margin-right: 0.3em;
	}
	
	.ui-widget-content {
		border: 7px solid #FFF;
	} 
	
	.ui-resizable-e, .ui-resizable-w {
		background-color:#DDD;
		border:1px solid #DFDDDD;
		width:5px;
		height: 700px;
	}
	
	.ui-resizable-s {
		background: url('${pageContext.servletContext.contextPath}/assets/images/jquery-ui/handle-h.png') no-repeat scroll 50% 3px transparent;
	}
	
	.ui-resizable-w {
	    left: -15px;
	}
	
	.ui-resizable-e {
	    right: 0px;
	}
	
	.image-details {
	    border-top: 2px solid #DFDDDD;
		border-bottom: 2px solid #DFDDDD;
	    overflow:hidden;
	    display:block;
	    width:100%;
	    height:700px;
	}
	
	.img-responsive {
	    max-height: 350px;
	    margin-left: auto;
	    margin-right: auto;
	}
	
	.image-details > div {
		height:100%;
	}
	
	.frame-container {
		background-color: #222;
		height: 85%;
		width: 100%;
		overflow: hidden;
	}
	.transcriber-container {
		padding-left: 10px;
		padding-right: 10px;
		padding-top: 5px;
	}
	.left-column {
		width:16%;
		float:left;
		padding-right: 5px;
	}
	.middle-column {
		width:60%;
		float:left;
	}
	.right-column {	
		width:24%;
		float:left;
		padding-left: 5px;
	}
	.frame-controlbar {
		background-color: #DFDDDD;
		width: 100%;
		height: 40px;
	}
	
	.frame-controlbar {
		padding-left: 10px;
	}
	
	.frame-controlbar .frame-controlbar-button {
		width: 70px;
		height: 30px;
		float: left;
	}
	
	.frame-controlbar .col-md-4 {
		padding:0px;
	}
	
	
	.ime-controlbar {
		padding:0px;
	}	
	.ui-widget-content {
    	border:0px;
    }
    #frame {
		border:2px solid #DFDDDD;   
    }
    .right-column input {
    	background: #FFF;
		border: none;
		box-shadow: none;
		padding: 0px;
		height: auto;
    }
    
    .right-column div, .right-column label {
   	    padding: 0px;
    	padding-left: 2px;
    }
    
    #accordion {
    	height:100%;
    }
    
    #accordion > div {
    	/* height:88%; */
    	padding: 0px;
    	padding-top:10px;
    }
    
    .ui-accordion .ui-accordion-header {
	    border: 2px solid #DFDDDD;
		background-color: #DFDDDD;
		padding-left: 2px;
    }
    
    .ui-accordion .ui-accordion-header:hover {
    	
    }
    .comments-data {
    	height: 34%;
    }
    .comments-add input {
    	display: block;
		width: 100%;
		height: 34px;
		padding: 6px 12px;
		font-size: 14px;
		line-height: 1.42857;
		color: #555;
		vertical-align: middle;
		background-color: #FFF;
		background-image: none;
		border: 1px solid #CCC;
		border-radius: 4px;
		box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
		transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
		font-size: inherit;
		line-height: inherit;
		font-family: inherit;
		font-size: 100%;
    }
    
    .frame-search div {
    	padding:0px;
    }
    .frame-search img {
    	padding: 0.5em;
   	}
   	
   	.button-container {
   	    background-color: #DFDDDD;
	   	padding-top: 8px;
		height: 64px;
		padding-left: 10px;
		padding-right: 10px;
   	}
   	.btn-state-1, .btn-state-2 {
		padding: 0px;
		font-size: 12px;
		height: 34px;
		width: 60px;
		background-color: white;
		color: black;
	}
	.btn-state-1 {
		float: right;
	}
	.btn-state-2 {
		float:left;
	}
	.frame-controller {
		width: 16%;
		color: #FFF;
		font-size: 30px;
		background-color: rgb(34, 34, 34);
		z-index: 90;
		position: absolute;
		height: 42px;
		opacity: 0.5;
		border-radius: 5px;
	}
	.frame-controller span {
		cursor:pointer;
		z-index:90;
	}
	.frame-nextprev{
		width: 17%;
		color: #FFF;
		font-size: 17px;
		background-color: rgb(34, 34, 34);
		z-index: 90;
		position: relative;
		height: 42px;
		opacity: 0.5;
		border-radius: 5px;
		float: right;
	}
	.waterMark{
	    width: 15%;
		color: #FFF;
		font-size: 10px;
	    background-color: rgb(34, 34, 34); 
		z-index: 90;
		position: relative;
		height: 30px;
	    opacity: 0.5;
		border-radius: 5px;
		margin-top: 300px;
		letter-spacing: 10px;
	}
	.mp3Mark{
		color: #FFF;
		font-size: 10px;
	    background-color: rgb(34, 34, 34); 
		z-index: 90;
		position: absolute;
		height: 13px;
	    opacity: 1;
	    margin-top: 70%
		/*border-radius: 5px;
		 margin-top: 300px;
		letter-spacing: 10px; */
	}
	.frame-nextprev span {
		cursor:pointer;
		z-index:90;
	}
	#fit {
		padding-top: 10px;
	}
	
	.panel {
	}
	.left-column .panel{
		margin:1px;
		padding: 3px;
	}
	.right-column .panel{
		margin:1px;
	}
	.panel-header {
		color: black;
		background-color: #DFDDDD;
		padding-left: 5px;
		outline: 2px solid #DFDDDD;
		height: 30px;
		line-height: 30px;
	}
	.panel-body {
		padding:0px;
	    padding-top: 15px;
	   
	}
	
	.nmm-fields {
	    height: 30px;
	}
	}
	.nmm-fields input {
		width:35px;
		float:left;
	}
	.nmm-fields label, .nmm-fields div {
		float:left;
	}
	.comments-add {
		width: 100%;
		padding-left: 5px;
	}
	.comments-add .col-md-4 {
	    padding-left: 10px;
	}
	.comments-add button {
		width: 50px;
		height: 35px;
		line-height: 35px;
		padding: 0px;
	}
	.display-span{
	margin-top: 1.2%;
    /* margin-left: 17%; */
	padding: 0px;
    font-weight: bold;
	}
	.searchDiv{
    background-color: #FFFFFF;
    background-image: none;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555555;
    font-size: 14px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    vertical-align: middle;
    overflow-y: scroll; 
    text-align:left; 
    height: 250px; 
    width : 100%; !important;
    margin-left: 1px;
	}